
/* Page-wide */
* {
	box-sizing: border-box;
}

body {
	background-image: url(background.png);
	background-size: 100vw 100vh;
	background-repeat: no-repeat;
	background-attachment: fixed;
	padding: 0;
	margin: 0;
	border: 0;
	font-family: sans-serif;
}

hr {
	margin: 20px 0 20px 0;
}

.restaurant, .menu, .form {
	background-color: white;
	border: 3px solid black;
	border-radius: 1%;
}

/* Main Header */
.login-bar {
	width: 100%;
	margin: 0;
	padding: 10px;
	border: 0;
	height: 60px;
	background-color: black;
	color: white;
}

.welcome {
	margin: 0;
	padding: 10px;
	float: right;
}

.welcome a, .welcome a:visited {
	color: white;
}

#signInButtons {
	float: right;
}

#result {
	color: white;
}

.main-head {
	text-align: center;
	padding: 10px;
	border: 3px solid black;
	border-radius: 50%;
	background-color: white;
	font-family: 'Sedgwick Ave Display', cursive;
	font-size: 60px;
	color: red;
}

.main-head a, .main-head a:visited {
	color: red;
	text-decoration: none;
}


/* Sections */
section {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	padding: 50px;
}

/* Restaurant Cards */
.restaurant {
	display: inline-flex;
	padding: 20px;
	width: 100%;
	margin: 5px;
}

.restaurant:hover {
	background-color: #fffddd;
}

.restaurant .rest-name {
	text-align: left;
	width: 75%;
	font-size: 25px;
	text-transform: uppercase;
	letter-spacing: 3px;
	color: red;
}

.restaurant ul {
	width: 20%;
	text-align: right;
}

.rest-name a, .rest-name a:visited {
	color: red;
	text-decoration: none;
}

/* Menu Pages */
.menu {
	width: 100%;
}

.menu .rest-name {
	text-align: center;
	font-size: 30px;
	text-transform: uppercase;
	letter-spacing: 3px;
	color: red;
}
.course-head {
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 3px;
	color: red;
}

.menu-item {
	padding: 20px;
	display: flex;
	flex-wrap: wrap;
}

.item-name, .item-desc {
	width: 75%;
}

.item-price, .item-links {
	width: 20%;
	text-align: right;
}

/* Forms */
.form {
	padding: 20px;
}

/* Links */
.link {
	width: 100%;
	font-size: 20px;
	text-align: center;
}

.link a:visited, .link a {
	color: white;
}

ul {
	list-style-type: none;
	padding: 0;
}

.item-links li, .rest-links li {
	display: inline;
	margin: 10px;
	padding: 10px;
	border-radius: 3%;
	background-color: red;
	color: white;
}

li a, li a:visited {
	color: white;
	text-decoration: none;
}

.cancel a, .cancel a:visited {
	color: red;
	text-decoration: none;
	font-weight: bold;
}

/* Flashing */
.flash {
	width: 100%;
	color: white;
	text-align: center;
}