<!DOCTYPE html>
<html>
<head>
	<title>Menupoly</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
	<link href="https://fonts.googleapis.com/css?family=Sedgwick+Ave+Display" rel="stylesheet">

	<!-- Pre requisites for Google Sign In -->
	<meta name="google-signin-client_id" content="6593651812-g6n1kkdkvnet3e1v3f10jnbleqkq6137.apps.googleusercontent.com">
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js">
  	</script>
	<script src="//apis.google.com/js/platform.js" async defer>
	</script>
</head>
<body>
	<h1 class="main-head">Menupoly</h1>
	<div class="form">
		<h2>Are you sure you want to delete {{item.name}}</h2>
		<form action="{{ url_for('deleteMenuItem', restaurant_id=item.restaurant_id, menu_id=item.id) }}" method="post">
			<p><input type="submit" value="Delete"></p>
		</form>
		<p class="cancel"><a href="{{ url_for('showMenuItems', restaurant_id=item.restaurant_id)}}">Cancel</a></p>
	</div>
</body>
</html>