<!DOCTYPE html>
<html>
<head>
	<title>Editing a Menu Item</title>
</head>
<body>
	<h1>Editing {{item.name}}</h1>
	<h2>At {{restaurant.name}}</h2>
	<form action="{{ url_for('editMenuItem', restaurant_id=restaurant.id, menu_id=item.id) }}" method="post">
	<p>Name: <input type="text" size="30" name="name" value="{{item.name}}"></p>
	<p>Course: <input type="text" size="30" name="course" value="{{item.course}}"></p>
	<p>Price: <input type="text" size="30" name="price" value="{{item.price}}"></p>
	<p>Description: </p>
	<textarea name="description" rows="2" cols="50">{{item.description}}</textarea>
	<p><input type='submit' value='Edit'></p>
	</form>
</body>
</html>