<!DOCTYPE html>
<html>
<head>
	<title>Menupoly</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
	<link href="https://fonts.googleapis.com/css?family=Sedgwick+Ave+Display" rel="stylesheet">

	<!-- Pre requisites for Google Sign In -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js">
  	</script>
	<script src="//apis.google.com/js/platform.js?onload=start" async defer>
	</script>
</head>
<body>
	<!-- Sign in Buttons -->
	<div id="signinButtons">
		<span class="g-signin"
			data-scope="open-id"
			data-clientid="6593651812-g6n1kkdkvnet3e1v3f10jnbleqkq6137.apps.googleusercontent.com"
			data-redirecturi="postmessage"
			data-accesstype="offline"
			data-cookiepolicy="single_host_origin"
			data-callback="signInCallback"
			data-approvalprompt="force">
		</span>
	</div>
	<div id="result">
	</div>
	<script>
		function signInCallback(authResult) {
			if (authResult['code']) {
				$('#signinButtons').attr('style', 'display: none');
				$.ajax({
					type: 'POST',
					url: '/gconnect?state={{STATE}}',
					processData: false,
					contentType: 'application/octet-stream; charset=utf-8',
					data: authResult['code'],
					success: function(result) {
						if (result) {
							$('#result').html('Login Successful!</br>' + result + '</br>Redirecting...')
							setTimeout(function() {
								window.location.href = "/restaurant";
							}, 4000);
						} else if (authResult['error']) {
							console.log('There was an error: ' + authResult['error']);
						} else {
							$('#result').html('Failed to make a server-side call. Check your configuration and console.');
						}
					}
				})
			}
		}
	</script>
</body>
</html>