<!DOCTYPE html>
<html>
<head>
	<title>Add a New Menu Item</title>
	<link rel="stylesheet" type="text/css" 
		href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
	<h1>Adding a New Menu Item</h1>
	<h2>To {{restaurant.name}}
	<form action="{{ url_for('newMenuItem', restaurant_id=restaurant.id) }}" method="post">
	<p>Name: <input type="text" size="30" name="name"></p>
	<p>Course: <select name="course">
		<option value="Entree">Entree</option>
		<option value="Appetizer">Appetizer</option>
		<option value="Dessert">Dessert</option>
		<option value="Beverage">Beverage</option>
	</select></p>
	<p>Price: <input type="text" size="30" name="price"></p>
	<p>Description: </p>
	<textarea name="description" rows="2" cols="50"></textarea>
	<p><input type='submit' value='Add'></p>
	</form>
	<p><a href="/restaurants/{{restaurant.id}}">Cancel</a></p>
</body>
</html>