<!DOCTYPE html>
<html>
<head>
	<title>Menupoly</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
	<link href="https://fonts.googleapis.com/css?family=Sedgwick+Ave+Display" rel="stylesheet">

	<!-- Pre requisites for Google Sign In -->
	<meta name="google-signin-client_id" content="6593651812-g6n1kkdkvnet3e1v3f10jnbleqkq6137.apps.googleusercontent.com">
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js">
  	</script>
	<script src="//apis.google.com/js/platform.js" async defer>
	</script>
</head>
<body>
	<h1 class="main-head">Menupoly</h1>
	<div class="form">
		<h2>Adding a New Menu Item to {{restaurant.name}}</h2>
		<form action="{{ url_for('newMenuItem', restaurant_id=restaurant.id) }}" method="post">
			<p>Name: <input type="text" size="30" name="name"></p>
			<p>Course: <select name="course">
				<option value="Entree">Entree</option>
				<option value="Appetizer">Appetizer</option>
				<option value="Dessert">Dessert</option>
				<option value="Beverage">Beverage</option>
			</select></p>
			<p>Price: <input type="text" size="30" name="price"></p>
			<p>Description: </p>
			<textarea name="description" rows="2" cols="50"></textarea>
			<p><input type='submit' value='Add'></p>
		</form>
		<p class="cancel"><a href="{{ url_for('showMenuItems', restaurant_id=restaurant.id)}}">Cancel</a></p>
	</div>
</body>
</html>