<!DOCTYPE html>
<html lang="en-us">
<head>
	<title>Menupoly</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
	<link href="https://fonts.googleapis.com/css?family=Sedgwick+Ave+Display" rel="stylesheet">
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

	<!-- Pre requisites for Google Sign In -->
	<meta name="google-signin-client_id" content="651956451199-5rq27o8qfk5hjbp6qa86aqtnssjrrcbm.apps.googleusercontent.com">
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js">
	</script>
	<script src="https://apis.google.com/js/client:platform.js?onload=start" async defer>
	</script>
</head>

<body>
	<header>
		<!-- User Authentication -->
		<div class="login-bar">
		<!-- If a user is detected, welcome them -->
		{% if user != None %}
			<p class="welcome">
				Welcome, {{ user }}!
				<!-- Offer Log Out -->
				<span class="logout">
					<a href="#" onclick="signOut();">Log Out</a>
					<script>
						function signOut() {
							/* Checks provider. If provider is 
							Google, run the google sign out
							script. */
							var provider = '{{ provider }}'
							if (provider == 'google') {
								var auth2=gapi.auth2.getAuthInstance();
								auth2.signOut().then(function() {
									console.log('Google user signed out.');
								})
							};

							$.ajax({
								/* Send a post to the disconnect
								route */
								type: 'POST',
								url: '/disconnect',
								processData: false,
								contentType: 'application/octet-stream; charset=utf-8',
								success: function(result) {
									// Refresh on success
									if (result) {
										window.location.href = "{{ url_for('showRestaurants') }}";
									}
								}
							})
						}
					</script>
				</span>
			</p>

		{% endif %}
		<!-- User is not signed in, show login buttons-->
			<!-- Facebook Sign-In SDK-->
			<script>
				window.fbAsyncInit = function() {
					FB.init({
						appId      : '135608883717115',
						cookie     : true,
				 		xfbml      : true,
						version    : 'v2.10'
					});
					FB.AppEvents.logPageView();   
			  	};

				(function(d, s, id){
					var js, fjs = d.getElementsByTagName(s)[0];
					if (d.getElementById(id)) {return;}
					js = d.createElement(s); js.id = id;
					js.src = "//connect.facebook.net/en_US/sdk.js";
					fjs.parentNode.insertBefore(js, fjs);
				}(document, 'script', 'facebook-jssdk'));

				// Obtain Access Token and contact server.
				function sendTokenToServer() {
					$('#signInButtons').attr('style', 'display: none');
					var access_token = FB.getAuthResponse()['accessToken'];
					console.log(access_token);
					console.log('Fetching info');
					FB.api('/me', function(response) {
						console.log(response.name + ' logged in.');

						$.ajax({
							/* Send a post request to the
							fbconnect route */
							type: 'POST',
							url: '/fbconnect?state={{STATE}}',
							processData: false,
							data: access_token,
							contentType: 'application/octet-stream; charset=utf-8',
							success: function(result) {
								/* If response indicates success, refresh the page in 1 second. Else, send a notice of error to the console. */
								if (result) {
									console.log('OK from server.');
									setTimeout(function() {
										window.location.href = "{{ url_for('showRestaurants') }}";
									}, 1000);
								} else {
									console.log('Failure to call server');
								}
							}
						});
					});
				}
			</script>
			<!-- End Facebook Script -->

			<div id="signInButtons">
				<!-- If user is connected, hide the sign in buttons -->
				{% if user != None %}
				<script>
					$('#signInButtons').attr('style', 'display: none');
				</script>
				{% endif %}
				<!-- Facebook button -->
				<span class="fb-login-button"
					data-max-rows="1"
					data-size="medium"
					data-width="50px"
					data-button-type="login_with"
					data-scope="public_profile,email"
					onlogin="sendTokenToServer()">
					Sign in
				</span>

				<!-- Google Button -->
				<span class="g-signin2"
					data-scope="https://www.googleapis.com/auth/plus.login"
					data-redirecturi="postmessage"
					data-accesstype="offline"
					data-cookiepolicy="single_host_origin"
					data-onsuccess="onSignIn"
					data-onfailure="onSignInFailure">
				</span>
			</div>

	
			<script>
				function onSignIn(googleUser) {
					/* Google sign in script */
					$('#signInButtons').attr('style', 'display: none');
					{% if user == None %}
					setTimeout(function(){
						window.location.href = '/restaurants'
					}, 1000);

					var auth = googleUser.getAuthResponse();
					var id_token = auth.id_token;
					console.log('Sign in successful.');
					console.log('{{user_id}}');

					$.ajax({
						/* Send post request to server */
						type: 'POST',
						url: '/gconnect?state={{STATE}}',
						processData: false,
						contentType: 'application/octet-stream; charset=utf-8',
						data: id_token,
						success: function(result) {
							/* Log success or failure */
							if (result) {
								console.log('OK from server.');
							} else {
								console.log('Error processing login');
							}
						}
					})
					{% endif %}
				}

				function onSignInFailure() {
					/* If user closes the login window, or the login otherwise fails, show an error in the login bar and refresh */
					$('#signInButtons').attr('style', 'display: none');
					$('.login-bar').html('Sign in failed -- please try again.');
					setTimeout(function(){
						window.location.href = '/restaurants'
					}, 1000);
				}
			</script>
		</div>
		<!-- End User Authentication -->

		<!-- Title and Message Flashing -->
		<h1 class="main-head"><a href ="{{ url_for('showRestaurants') }}">Menupoly</a></h1>
		{%  with messages = get_flashed_messages() %}
		{%  if messages %}
			<ul class="flash">
			{% for message in messages %}
				<li><strong>{{ message }}</strong></li>
			{% endfor %}
			</ul>
		{% endif %}
		{% endwith %}
		<!-- End Title and Message Flashing -->
	</header>

	<section>
		<!-- Check for restaurants in the database -->
		{% if restaurants|length %}
		<!-- List each restaurant -->
		{% for restaurant in restaurants %}
			<div class="restaurant">
				<h2 class="rest-name"><a href="{{ url_for('showMenuItems', restaurant_id=restaurant.id) }}">{{restaurant.name}}</a></h2>
				<!-- If the user is the user who created the restaurant or the moderator (user_id = 2), show edit and delete buttons -->
				{% if user_id == restaurant.user_id or user_id == 2 %}
				<ul class="rest-links">
					<li><a href="{{ url_for('editRestaurant', restaurant_id=restaurant.id) }}">Edit</a></li>
					<li><a href="{{ url_for('deleteRestaurant', restaurant_id=restaurant.id) }}">Delete</a></li>
				</ul>
				{% endif %}
			</div>
		{% endfor %}
		<!-- No restaurants in the database -->
		{% else %}
			<p>Looks like you haven't added any restaurants!</p>
		{% endif %}
		<p class="link">
			<a href="{{ url_for('newRestaurant') }}">Add a Restaurant</a>
		</p>
	</section>
</body>
</html>