<!DOCTYPE html>
<html lang="en-us">
	<head>
		<title>Menupoly</title>
		<link rel="stylesheet" type="text/css" 
		href="{{ url_for('static', filename='styles.css') }}">
		<link href="https://fonts.googleapis.com/css?family=Sedgwick+Ave+Display" rel="stylesheet">
	</head>

	<body>
		<header>
			<h1>Menupoly</h1>
			{%  with messages = get_flashed_messages() %}
			{%  if messages %}
				<ul class="flash">
				{% for message in messages %}
					<li><strong>{{ message }}</strong></li>
				{% endfor %}
				</ul>
			{% endif %}
			{% endwith %}
		</header>

		<section>
			{% if restaurants|length %}
			{% for restaurant in restaurants %}
				<div class="restaurant">
					<h2 class="rest-name">{{restaurant.name}}</h2>
					<hr>
					<ul class="rest-links">
						<li><a href="{{ url_for('showMenuItems', restaurant_id=restaurant.id) }}">Menu</a></li>
						<li><a href="{{ url_for('editRestaurant', restaurant_id=restaurant.id) }}">Edit</a></li>
						<li><a href="{{ url_for('deleteRestaurant', restaurant_id=restaurant.id) }}">Delete</a></li>
					</ul>
				</div>
			{% endfor %}
			{% else %}
				<p>Looks like you haven't added any restaurants!</p>
			{% endif %}
			<p class="link">
				<a href="{{ url_for('newRestaurant') }}">Add a Restaurant</a>
			</p>
		</section>
	</body>
</html>