{% extends "base.html" %}
{% block title %}{{ restaurant.name }}{% endblock %}
{% block content %}
	<div class="form">
	<!-- Only show form if user is logged in, or if user is either the restaurant's creator or the moderator account (user_id == 2) -->
	{% if user != None %}
		{% if user_id == restaurant.user_id or user_id == 2 %}
		<h2>Are you sure you want to delete {{ restaurant.name }}?</h2>
		<form action="{{ url_for('deleteRestaurant', restaurant_id=restaurant.id) }}" method="post">
			<p><input type="submit" value="Delete"></p>
		</form>

		{% else %}
		<!-- User ID does not match restaurant's user ID, or the moderator ID -->
		<p class="error">You are not authorized to delete this restaurant.</p>
		{% endif %}

	{% else %}
		<!-- User is not logged in. -->
		<p class="error">You must be signed in to delete this restaurant.</p>
	{% endif %}
		<p class="cancel"><a href="{{ url_for('showRestaurants') }}">Cancel</a></p>
	</div>
{% endblock %}