{% extends "base.html" %}
{% block title %}{{ restaurant.name }}{% endblock %}
{% block content %}
	<div class="form">
	{% if user != None %}
	<!-- Only show form if user is signed in, and if user is either the restaurant's creator, or the moderator user (user_id == 2) -->
		{% if user_id == restaurant.user_id or user_id == 2 %}
		<h2>Editing {{ restaurant.name }}</h2>
		<form action="{{ url_for('editRestaurant', restaurant_id=restaurant.id) }}" method="post">
			<p>Restaurant Name: 
				<input type="text" name="name" value="{{ restaurant.name }}">
				<input type="submit" value="Edit">
			</p>
		</form>

		{% else %}
		<!-- User ID does not match restaurant's user ID or moderator ID -->
		<p class="error">You are not authorized to edit this restaurant.</p>
		{% endif %}

	{% else %}
		<!-- User is not signed in, and cannot edit restaurants. -->
		<p class="error">You must be signed in to edit this restaurant.</p>
	{% endif %}
		<!-- Offer redirect to restaurants page. -->
		<p class="cancel"><a href="{{ url_for('showRestaurants') }}">Cancel</a></p>
	</div>
{% endblock %}