{% extends "base.html" %}
{% block title %}{{ restaurant.name }}{% endblock %}
{% block content %}
	<div class="form">
	{% if user != None %}
	<!-- Check if user is logged in, or if user is the restaurants creator or a moderator account (user_id == 2). If True, show form. -->
		{% if user_id == restaurant.user_id or user_id == 2 %}
		<h2>Editing {{item.name}} At {{restaurant.name}}</h2>
		<form action="{{ url_for('editMenuItem', restaurant_id=restaurant.id, menu_id=item.id) }}" method="post">
			<p>Name: <input type="text" size="30" name="name" value="{{item.name}}"></p>
			<p>Course: <select name="course">
				<option value="Entree" {% if item.course=="Entree" %} selected {% endif %}>
					Entree
				</option>
				<option value="Appetizer" {% if item.course=="Appetizer" %} selected {% endif %}>
						Appetizer
				</option>
				<option value="Dessert" {% if item.course=="Dessert" %} selected {% endif %}>
					Dessert
				</option>
				<option value="Beverage" {% if item.course=="Beverage" %} selected {% endif %}>
					Beverage
				</option>
			</select></p>
			<p>Price: <input type="text" size="30" name="price" value="{{item.price}}"></p>
			<p>Description: </p>
			<textarea name="description" rows="2" cols="50">{{item.description}}</textarea>
			<p><input type='submit' value='Edit'></p>
		</form>
		{% else %}
		<!-- User is not restaurant creator, or moderator -->
		<p class="error">You are not authorized to edit this menu item.</p>
		{% endif %}

	{% else %}
		<!-- User is not logged in -->
		<p class="error">You must be logged in to edit items.</p>
	{% endif %}
		<!-- Offer redirect to menu page -->
		<p class="cancel"><a href="{{ url_for('showMenuItems', restaurant_id=restaurant.id)}}">Cancel</a></p>
	</div>
{% endblock %}