{% extends "base.html" %}
{% block title %}{{restaurant.name}}{% endblock %}

{% block content %}
	<div class="menu">
	<h2 class="rest-name">{{restaurant.name}}</h2>
	<!-- Check if restaurant has menu items -->
	{% if items['total'] > 0 %}
		<!-- If ther are any appetizers, list them -->
		{% if items['apps']|length %}
		<div class="course">
			<h3 class="course-head">Appetizers</h3>
			<hr>
			{% for app in items['apps'] %}
			<div class="menu-item">
				<h4 class="item-name">{{app.name}}</h4>
				<p class="item-price">{{app.price}}</p>
				<p class="item-desc">{{app.description}}</p>
				<ul class="item-links">
				<!-- Only show edit or delete buttons to the user who created the restaurant, or the Mod user (user_id == 2) -->
				{% if user_id == restaurant.user_id or user_id == 2 %}
					<li><a href="{{ url_for('editMenuItem', restaurant_id=restaurant.id, menu_id=app.id) }}">Edit</a></li>
					<li><a href="{{ url_for('deleteMenuItem', restaurant_id=restaurant.id, menu_id=app.id) }}">Delete</a></li>
				{% endif %}
				</ul>
			</div>
			{% endfor %}
		</div>
		{% endif %}
		<!-- If there are any entrees, list them -->
		{% if items['entrees']|length %}
		<div class="course">
			<h3 class="course-head">Entrees</h3>
			<hr>
			{% for entree in items['entrees'] %}
			<div class="menu-item">
				<h4 class="item-name">{{entree.name}}</h4>
				<p class="item-price">{{entree.price}}</p>
				<p class="item-desc">{{entree.description}}</p>
				<ul class="item-links">
				<!-- Only show edit and delete buttons to the restaurant's creater or the moderator -->
				{% if user_id == restaurant.user_id or user_id == 2 %}
					<li><a href="{{ url_for('editMenuItem', restaurant_id=restaurant.id, menu_id=entree.id) }}">Edit</a></li>
					<li><a href="{{ url_for('deleteMenuItem', restaurant_id=restaurant.id, menu_id=entree.id) }}">Delete</a></li>
				{% endif %}
				</ul>
			</div>
			{% endfor %}
		</div>
		{% endif %}
		<!-- If there are any desserts, list them. -->
		{% if items['desserts']|length %}
		<div class="course">
			<h3 class="course-head">Desserts</h3>
			<hr>
			{% for dessert in items['desserts'] %}
			<div class="menu-item">
				<h4 class="item-name">{{dessert.name}}</h4>
				<p class="item-price">{{dessert.price}}</p>
				<p class="item-desc">{{dessert.description}}</p>
				<ul class="item-links">
				<!-- Only show edit and delete buttons to the restaurant's creator and to the moderator -->
				{% if user_id == restaurant.user_id or user_id == 2 %}
					<li><a href="{{ url_for('editMenuItem', restaurant_id=restaurant.id, menu_id=dessert.id) }}">Edit</a></li>
					<li><a href="{{ url_for('deleteMenuItem', restaurant_id=restaurant.id, menu_id=dessert.id) }}">Delete</a></li>
				{% endif %}
				</ul>
			</div>
			{% endfor %}
		</div>
		{% endif %}
		<!-- If there are any beverages, list them -->
		{% if items['bevs']|length %}
		<div class="course">
			<h3 class="course-head">Beverages</h3>
			<hr>
			{% for bev in items['bevs'] %}
			<div class="menu-item">
				<h4 class="item-name">{{bev.name}}</h4>
				<p class="item-price">{{bev.price}}</p>
				<p class="item-desc">{{bev.description}}</p>
				<ul class="item-links">
				<!-- Only show edit and delete buttons to the restaurant's creator, or the moderator. -->
				{% if user_id == restaurant.user_id or user_id == 2 %}
					<li><a href="{{ url_for('editMenuItem', restaurant_id=restaurant.id, menu_id=bev.id) }}">Edit</a></li>
					<li><a href="{{ url_for('deleteMenuItem', restaurant_id=restaurant.id, menu_id=bev.id) }}">Delete</a></li>
				{% endif %}
				</ul>
			</div>
			{% endfor %}
		</div>
		{% endif %}
	{% else %}
	<!-- No menu items added -->
	<p>There's nothing on this menu yet!</p>
	{% endif %}
	</div>
	<!-- Only show the link to add new menu items to the restaurant's creator, or the moderator. -->
	{% if user_id == restaurant.user_id or user_id == 2 %}
	<p class="link"><a href="{{ url_for('newMenuItem', restaurant_id=restaurant.id) }}">Add a Menu Item</a></p>
	{% endif %}
{% endblock %}