{% extends "base.html" %}
{% block content %}
	
	<div class="form">
	{% if user != None %}
		<h2>Adding a New Restaurant</h2>
		<form action="{{ url_for('newRestaurant') }}" method="post">
			<p>Restaurant Name: 
				<input type="text" name="name">
				<input type="submit" value="Add">
			</p>
		</form>
		<p class="cancel"><a href="{{ url_for('showRestaurants') }}">Cancel</a></p>
	{% else %}
	<p class="error">You must be signed in to add a new restaurant.</p>
	<p class="cancel"><a href="{{ url_for('showRestaurants') }}">Cancel</a></p>
	{% endif %}
	</div>

{% endblock %}