{% extends "base.html" %}
{% block title %}{{ restaurant.name }}{% endblock %}
{% block content %}
	<div class="form">
	{% if user != None %}
		<!-- If user's ID matches the ID of the restaurant's creator or if the user has moderator ID (user_id == 2), show form. -->
		{% if user_id == restaurant.user_id or user_id == 2 %}
		<h2>Adding a New Menu Item to {{restaurant.name}}</h2>
		<form action="{{ url_for('newMenuItem', restaurant_id=restaurant.id) }}" method="post">
			<p>Name: <input type="text" size="30" name="name"></p>
			<p>Course: <select name="course">
				<option value="Entree">Entree</option>
				<option value="Appetizer">Appetizer</option>
				<option value="Dessert">Dessert</option>
				<option value="Beverage">Beverage</option>
			</select></p>
			<p>Price: <input type="text" size="30" name="price"></p>
			<p>Description: </p>
			<textarea name="description" rows="2" cols="50"></textarea>
			<p><input type='submit' value='Add'></p>
		</form>

		{% else %}
		<!--User is not autherized to edit this item. -->
		<p class="error">You are not authorized to add items to this restaurant.</p>
		{% endif %}

	{% else %}
		<!-- User is not logged in. -->
		<p class="error">You must be logged in to add menu items.</p>
	{% endif %}
		<!-- Offer redirect to menu -->
		<p class="cancel"><a href="{{ url_for('showMenuItems', restaurant_id=restaurant.id)}}">Cancel</a></p>
	</div>
{% endblock %}