{% extends "base.html" %}
{% block content %}
		<!-- Check for restaurants in the database -->
		{% if restaurants|length %}
		<!-- List each restaurant -->
		{% for restaurant in restaurants %}
			<div class="restaurant">
				<h2 class="rest-name"><a href="{{ url_for('showMenuItems', restaurant_id=restaurant.id) }}">{{restaurant.name}}</a></h2>
				<!-- If the user is the user who created the restaurant or the moderator (user_id = 2), show edit and delete buttons -->
				{% if user_id == restaurant.user_id or user_id == 2 %}
				<ul class="rest-links">
					<li><a href="{{ url_for('editRestaurant', restaurant_id=restaurant.id) }}">Edit</a></li>
					<li><a href="{{ url_for('deleteRestaurant', restaurant_id=restaurant.id) }}">Delete</a></li>
				</ul>
				{% endif %}
			</div>
		{% endfor %}
		<!-- No restaurants in the database -->
		{% else %}
			<p>Looks like you haven't added any restaurants!</p>
		{% endif %}
		<p class="link">
			<a href="{{ url_for('newRestaurant') }}">Add a Restaurant</a>
		</p>
{% endblock %}